<div class="row">
  <%= reaction.url %>
  <%= reaction.keywords %> 
  <%= link_to 'Show', reaction %>
  <%= link_to 'Edit', edit_reaction_path(reaction) %>
  <%= link_to 'Destroy', reaction, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
