<div class="row col-md-10 col-md-offset-1">
  <div class="row">
      <p id="notice"><%= notice %></p>
  </div>
  <div class="row">
    <h1><%= current_user.name %>'s Reactions</h1>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= link_to 'New Reaction', new_reaction_path %>
    </div>
    <div class="col-md-10">
      <%= render "searchform" %>
    </div>
  </div>
  <div class="row">
    <%= render partial: "reactionbox", collection: @reactions, as: :reaction %>
    <%= will_paginate @reactions %>
  </div>
  <div class="row">
    <%= render "team_facts" %>
  </div>
  <div class="row">
    <%= render "slack_verification_code" %>
  </div>
</div>
